html {
  /*background: url('background.jpg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Cabin Condensed', sans-serif;
  background:none;
  /*background-image: url('/assets/bg1.png'); */
}

#wrapper { 
}

a:hover {
  cursor:pointer;
}

#home-logo {
  width: 150px;
  height: 150px;
  /*background: #73563D;*/
  margin-left:auto;
  margin-right:auto;
  margin-bottom:16px;
  margin-top:48px;
}

#content {
  padding-top:70px;
  /*background: #ffffff;*/
  /*background:rgba(255, 255, 255, .9);*/
}

#sign-in-modal {
  width:350px;
  /*padding:20px;*/
  margin-left:auto;
  margin-right:auto;
}

#sign-in-modal .modal-body {
  padding:20px;
  background: #FAFAFA;
}

#owl-demo .item{
    background: #256E62;
    height:300px;
    padding: 10px 10px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

#owl-demo .item img{
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: solid 2px white;
}

.authentication-block {
  width:250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

#sign-up-block h4{
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1.5em;
  color: #59432F;
}

.dropdown-menu:before {
  position: absolute;
  top: -10px;
  right: 9px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -9px;
  right: 10px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  content: '';
}

.form-control {
  border-radius: 3px;
}

.kariton-btn {
  color: #FFFFFF;
  background: #256E62;
  border-radius: 3px;
  border-bottom: solid 2px #1F5B50;
  transition: background ease .5s;
}

.kariton-btn:hover {
  color: #FFFFFF;
  background: #357E72;
}