html {
  /*background:#CCCCCC;*/
  /*background: url('background.jpg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Archivo Narrow', sans-serif;
  /*font-family: 'Droid Sans', sans-serif;*/
  background:none;
  /*background-image: url('/assets/bg1.png'); */
}

.logged-in {
  /*background:#DADADA;*/
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: #F8F8F8;
}

/*#navigation {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}*/

#wrapper { 
}

a:hover {
  cursor:pointer;
}

#home-logo {
  width: 150px;
  height: 150px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:16px;
  margin-top:48px;
}

#content {
  padding-top:70px;
}

#item-view {
  background: #EAEAEA;
  z-index:0;
  padding:16px;
  box-shadow: inset 0 0px 4px -4px rgba(0,0,0,0.2);
  border-bottom:1px solid #DDDDDD;
  border-top:1px solid #DDDDDD;
  transition: height ease .5s;
  -webkit-transition: height ease .5s;
}

#item-view .item-tile{
  background: #d7da7e;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background: #FFFFFF;
  /*background: #73563D;*/
  /*text-align: center;*/
  width:150px;
  /*height:210px;*/
  padding: 10px 10px;
  /*color: #FFFFFF;*/
  color: #333333;
  margin:4px;
  /*margin-bottom:8px;*/
  /*border:1px solid #888888;*/

  overflow: visible !important;

  transition: background ease .3s;
  -webkit-transition: background ease .3s;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#item-view .item-tile:hover{
  /*background: #30796D;*/
  cursor:pointer;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
  /*border: solid 1px #888888;*/
}

#item-view .item-tile.out-of-stock{
  background: #AAAAAA;
  background: #DDDDDD;
}

#item-view .item-tile.out-of-stock img{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  z-index: 0;
}

#item-view .item-tile.out-of-stock:hover{
  /*background: #888888;
  background: #CCCCCC;*/
}

#item-view .item-tile.in-cart{
  background: #6aafa5;
  background: #FFFFFF;
}

#item-view .item-tile.in-cart:hover{
  /*background: #30796D;
  background: #6aafa5;*/
}

#item-view .item-tile .item-image {
  max-width: 130px;
  /*max-height: 130px;*/
  border: 1px solid #DDDDDD;
}

#item-view .item-tile .item-name{
  /*font-weight: 700;*/
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
  font-size:1.05em;
  margin:10px 0px 0px 0px;
}

#item-view .item-tile .expanded-info{
  display:none;
  color:rgba(0, 0, 0, .8);
}

#item-view .item-tile.in-cart .expanded-info {
  display:none;
}

#item-view .item-tile.out-of-stock .expanded-info {
  display:none;
}


#item-view .item-tile .expanded-info-history{
  color:rgba(0, 0, 0, .8);
}

#item-view .item-tile .description{
  border-top: solid 1px rgba(0, 0, 0, .3);
  border-bottom: solid 1px rgba(0, 0, 0, .3);
  font-size: .95em;
  padding:4px;
}


#item-view .out-of-stock-banner{
  position:absolute;
  left:0px;
  top:30px;
  width:100%;
  background-color: #AAAAAA;
  background: #DDDDDD;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  opacity: .8;
  z-index:1;
}

#item-view .item-tile .in-cart-number{
  position:absolute;
  left:0px;
  top:110px;
  width:150px;
  height: 20px;
  border-radius:10px;
  background: rgba(37, 110, 98, 1);
  background: #FFFFFF;
  text-align: center;
  opacity:.8;

  transition: background ease .3s;
  -webkit-transition: background ease .3s;
}

#item-view .item-tile strong {
  color:#FFFFFF;
  color:#333333;
}

#item-view .item-tile:hover .in-cart-number{
  background: #30796D;
  background: #FFFFFF;
}

#item-view .item-tile .in-cart-count {
  text-align: right;
}

#item-view .item-tile .stock-count {
  text-align: right;
}

#item-view .item-tile .price-tag {
  font-weight: 700;
  /*margin-top:8px;*/
  color: #30796D;
  /*border-top:solid 1px rgba(255, 255, 255, .3);*/
}

#item-view .item-tile .kariton-btn{
  width:100%;
}

#item-view .item-tile .item-quantity {
  margin-top:8px;
  padding-left:8px;
  width:100%;
}

#item-view .item-tile .remove-item {
  display:none;
}

#item-filter {
  margin:8px;
  border-radius: 2px;
  outline:none;
  width:250px;
  border:none;
}

#cart-view {
  display: none;
  z-index:100;
  height:50px;
  background: #256e62;
  color:#FFFFFF;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#history-view {
  height:50px;
  background: #357e72;
  color:#FFFFFF;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#cart-total{
  float:right;
  height:50px;
  padding:15px;
}

#date-filter {
  margin:8px;
  height:34px;
  border-radius: 2px;
  padding:8px;
  width:250px;
  border:none;
  outline:none;
}

.gray-button {
  height:34px;
  margin:8px;
  padding:5px 10px 7px 10px;
  outline: 1px solid #205b50;
  border:none;
  border-bottom: 4px solid #BBBBBB;
  color: #333333;
  background:#EEEEEE;
  border-radius: 2px;
  -webkit-transition: background ease .5s;
  transition: background ease .5s;
}

.gray-button:disabled {
  border-bottom: 1px solid #BBBBBB;
  color: #888888;
  background:#AAAAAA;
}

.gray-button:disabled:hover {
  border-bottom: 1px solid #BBBBBB;
  color: #888888;
  background:#AAAAAA;
  cursor:default;
}

#cart-clear {
  float:right;
  margin-left:0px;
}

#cart-check-out {
  /*font-weight: 700;*/
  padding:5px 24px 7px 24px;
  float:right;
}

.gray-button:hover {
  cursor:pointer;
  background:#FFFFFF;
}

#item-tools {
  /*padding: 4px;*/
  height:50px;
  /*background: #256E62;*/
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.item-tool-row {
  background: #256E62;
  padding:0px;
}

#item-tools ul {
  height:50px;
  margin:0px;
  padding:0px;
  display: block;
}

#item-tools li {
  float:left;
  list-style: none;
  height:50px;
  display: block;
}

#item-tools li a {
  display: block;
  color:white;
  height:50px;
  padding:15px 15px;
}

#item-tools li a.right {
  display: block;
  color:white;
  height:50px;
  padding:15px 15px;
  border-top-right-radius: 2px;
}

#item-tools li a:hover {
  background: #2A7367;
  text-decoration: none;
}

#item-tools li a.active {
  background: #357e72;
  /*border-bottom:4px solid #FFFFFF*/
}

.authentication-block {
  width:280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.authentication-block h4{
  font-size: 1.5em;
  color: #59432F;
}

.dropdown-menu:before {
  position: absolute;
  top: -10px;
  right: 9px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -9px;
  right: 10px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  content: '';
}

#dropdown-menu {
  border-radius: 4px;
  width:200px;
}

.form-control {
  border-radius: 3px;
}

.kariton-btn {
  margin-top:8px;
  padding:4px;
  color: #FFFFFF;
  background: #256E62;
  border-radius: 2px;
  border:none;
  border-bottom: solid 4px #1F5B50;
  box-shadow: 0 0 1px #357e72;

  -webkit-transition: background ease .5s;
  transition: background ease .5s;
}


.kariton-btn:hover {
  color: #FFFFFF;
  background: #357E72;
}

.kariton-btn:disabled {
  color: #888888;
  background-color: #BBBBBB;
  border-bottom: solid 2px #AAAAAA;
}

.remove-btn {
  background-color:#c8342d;
  border-bottom: 4px solid #b72c2c;
}

.remove-btn:hover {
  background-color:#c64340;
}

.active-link {
  background:#EEEEEE;
}

.active-link:hover {
  background:#EEEEEE;
}

.filler {
  height:32px;
}

.in-betweener {
  height:8px;
}

.in-betweener2 {
  height:24px;
}

.notif {
  background:white;
  float:right;
  color:#256e62;
  font-size:.65em;
  padding:2px 6px;
  border-radius: 8px;
  margin-left:4px;
  margin-top:2px;
}

.notif.zero {
  background: rgba(255, 255, 255, .3);
}