html {
  /*background: url('background.jpg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Cabin Condensed', sans-serif;
  background:none;
  /*background-image: url('/assets/bg1.png'); */
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: #F8F8F8;
}

#wrapper { 
}

a:hover {
  cursor:pointer;
}

#home-logo {
  width: 150px;
  height: 150px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:16px;
  margin-top:48px;
}

#content {
  padding-top:70px;
}

#item-view .item-tile{
  background: #73563D;
  text-align: center;
  width:150px;
  height:180px;
  padding: 10px 10px;
  color: #FFFFFF;
  margin:4px;

  overflow: visible !important;

  transition: background ease .3s;
  -webkit-transition: background ease .3s;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#item-view .item-tile:hover{
  background: #896f4a;
  cursor:pointer;
}

#item-view .item-tile.out-of-stock{
  background: #888888;
}

#item-view .item-tile.out-of-stock:hover{
  background: #999999;
}

#item-view .item-tile.in-cart{
  background: #256E62;
}

#item-view .item-tile.in-cart:hover{
  background: #357E72;
}

#item-view .item-tile img{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 2px white;
}

#item-view .item-tile .item-name{
  font-weight: 700;
  white-space: nowrap; 
  text-overflow: ellipsis;
  margin:8px 0px;
}

#item-view .item-tile .expanded-info{
  margin-top:8px;
  border-top: solid 1px white;
  display:none;
}

#item-view .out-of-stock-banner{
  position:absolute;
  left:0px;
  top:60px;
  width:100%;
  background-color: rgba(136, 136, 136, .8);
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
}

#item-view .item-tile .in-cart-number{
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height: 20px;
  border-radius:10px;
  background: #256E62;
  text-align: center;

  transition: background ease .3s;
  -webkit-transition: background ease .3s;
}

#item-view .item-tile:hover .in-cart-number{
  background: #357E72;
}

.authentication-block {
  width:280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.authentication-block h4{
  font-size: 1.5em;
  color: #59432F;
}

.dropdown-menu:before {
  position: absolute;
  top: -10px;
  right: 9px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -9px;
  right: 10px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  content: '';
}

#dropdown-menu {
  border-radius: 4px;
  width:200px;
}

.form-control {
  border-radius: 3px;
}

.kariton-btn {
  color: #FFFFFF;
  background: #256E62;
  border-radius: 3px;
  border:none;
  border-bottom: solid 2px #1F5B50;
  transition: background ease .5s;
}

.kariton-btn:hover {
  color: #FFFFFF;
  background: #357E72;
}