<% if user_signed_in? %>
<% else %>

<% end %>
<% if user_signed_in? %>
  <li><a id="view-cart">View Cart (<%= @cart_items.length %>)</a></li>
  <li><a id="view-items">View All Items</a></li>
<% end %>