<% if user_signed_in? %>
<% else %>

<% end %>
<% if user_signed_in? %>
	<% if @cart_hist %>
  	<li class="active-link"><a  href="#">Cart History</a></li>
  	<li><%= link_to 'Browse Items', root_url, id: 'view-items' %></li>
  <% else %>
  	<li><a href="/cartHistory">Cart History</a></li>
  <li class="active-link"><%= link_to 'Browse Items', "#", id: 'view-items' %></li>
  <% end %>
<% end %>