<%# add navigation links to this file %>
<% if user_signed_in? %>
<% else %>
  <!--li><%#= link_to 'Sign up', new_user_registration_path %></li-->
<% end %>
<% if user_signed_in? %>
  <li><a>View Cart (<%= @cart_items.length %>)</a></li>
<% end %>